.input-expense {
  .input-with-label, select {
    float:left;
    padding-left: 5px;
  }
  
  label {
    display: none;
  }

  .button {
    margin-left: 1em;
    margin-top: 0.3em;
  }

  &--first {
    label {
      display: block;
    }

    select[name='cost.costType'] {
      margin-top: 1.65em;
    }

    .button {
      margin-top: 1.7em;
    }
  }
}