.query-form {
  @extend .pure-form;
  @extend .pure-form-stacked;
  
  fieldset {
    display: table;
    padding: 0;
  }
    
  .input-with-label {
    display: table-cell;
  }

  &__submit, &__download-csv {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: $default-spacing;
  }
}
