.query-form {
  @extend .pure-form;
  @extend .pure-form-stacked;
  
  fieldset {
    display: table;
    
  }
    
  .input-with-label {
    display: table-cell;
  }

  &__submit {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 5px;
  }
}
